* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  height: 100%;
  background: #fff;
}

.content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  height: 100%;
}

  .login-wrapper {
    justify-content: center;
  }

/* MAIN CONTENT */

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: 8px 0px;
  padding: 8px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* LOGIN SCREEN */

.login-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  flex-grow: 0;
  height: 80%;
    max-height: 450px;
  width: 80%;
    max-width: 300px;
}

.dev-notice {
  text-align: center;
  font-style: italic;
}

.login-form, .fieldset-container {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.fieldset-contents {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.login-form legend {
  width: 80%;
  text-align: center;
  margin: 4px;
}

.fieldset-container label {
  width: 100%;
  text-align: center;
  margin: 4px;
}

.password-requirements {
  display: none;
  
}

.login-form .fieldset-container input {
  text-align: center;
  width: 100%;
  padding: 4px;
  text-align: center;
}

  .login-form input[type="submit"] {
    width: 80%;
    margin: 4px;
  }

.alert-area {
  text-align: center;
  margin: 4px;
}

.create-account-link {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.password-requirements {
  text-align: center;
  font-style: italic;
}

.default-credentials {
  text-align: center;
}

  .d-c-title {
    text-decoration: underline;
  }
  
  .d-c-label {
    font-weight: bold;
  }


/* PAGE HEADER */

header {
  width: 100%;
  padding: 8px;
  background: #eee; /* TEMP FOR DESIGN PURPOSES */
}

.header-nav {
  background: #ddd; /* TEMP FOR DESIGN PURPOSES */
}

/* SIDEBAR */

.tab-nav {
  padding: 8px;
  background: #ccc; /* TEMP FOR DESIGN PURPOSES */
  width: 100%;
}

