/* VARIABLES */

:root {
  --primary-color: #0a233f;
    --on-primary-color: #fff;
  --primary-light: #384a6a;
    --on-primary-light: #fff;
  --primary-dark: #00001a;
    --on-primary-dark: #fff;
  
  --secondary-color: #af9042;
    --on-secondary-color: #000;
  --secondary-light: #e3c070;
    --on-secondary-light: #000;
  --secondary-dark: #7d6314;
    --on-secondary-dark: #fff;

}

/* TYPOGRAPHY DEFAULTS */

body {
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

h1 {
  font-size: 20px;
  padding-bottom: 8px;
}

h2 {
  font-size: 18px;
  padding-bottom: 8px;
}

h3 {
  font-size: 16px;
  padding-bottom: 4px;
}

h4 {
  font-size: 14px;
  padding-bottom: 4px;
}

p {
  font-size: 12px;
  line-height: 16px;
}

/* LAYOUT DEFAULTS */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  height: 100%;
  background: #fff;
}

.content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

/* COMMON COMPONENTS */

  .card {
    width: 100%;
    max-width: 600px;
    margin: 8px 0px;
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }

  /* FORM COMPONENTS */
  
  input[type="text"], input[type="password"] {
    background-color: var(--secondary-light);
      color: var(--on-secondary-light);
    border: none;
  }

  input[type="submit"] {
    border: none;
    padding: 8px;
  }
  

/* CUSTOMIZATIONS */

  /* LOGIN PAGE */
  
  .login-wrapper {
    justify-content: center;
    padding: 8px;
  }
  
  .login-wrapper h1 {
    font-size: 42px;
    padding-top: 8px;
    color: var(--primary-color);
    text-align: center;
  }
  
  .intro-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 8px;
    width: 100%;
    height: 100%;
  }
  
    .intro-images img {
      margin: 4px;
    }

  .login-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    
    height: 450px;
    width: 80%;
      max-width: 300px;
  
    background: var(--primary-color);
      color: var(--on-primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px; 
  }
  
  .login-form, .fieldset-container {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }  
  
    .login-form {
      height: 300px;
    }
    
      .fieldset-container {
        height: 100%;
      }
      
        .fieldset-container label {
          width: 100%;
          text-align: center;
          margin: 4px;
        }
      
      fieldset {
        height: 100%;
      }
  
    .login-box legend {
      width: 80%;
      margin: 4px;
      
      text-align: center;
      font-size: 22px;
      color: var(--secondary-color);
    }

    .login-box label input {
      margin: 8px 0px;
      text-align: center;
      width: 100%;
      padding: 4px;
      text-align: center;
    }
    
    .password-requirements {
      display: none;
    }
    
    .login-form input[type="submit"] {
      background-color: var(--secondary-light);
      color: var(--on-secondary-light);
      width: 80%;
      margin: 4px;
    }

    .login-box a {
      color: var(--secondary-light);
    }

      .login-box a:visited {
        color: var(--secondary-color);
      }
      
  .fieldset-contents {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  
  .login-form .alert-area {
    text-align: center;
    margin: 4px;
    color: #f00;
    font-weight: bold;
  }
  
  .create-account-link {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }

  .password-requirements {
    text-align: center;
    font-style: italic;
  }
  
  .default-credentials {
    text-align: center;
  }
  
    .d-c-title {
      text-decoration: underline;
    }
    
    .d-c-label {
      font-weight: bold;
    }
  
  /* PAGE HEADER */
  
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .header-nav a {
    color: var(--secondary-color);
  }
    
    .header-nav a:visited {
      color: var(--secondary-color);
    }
  
  /* SIDEBAR */
  
  .tab-nav {
    padding: 8px;
    background: #ccc; /* TEMP FOR DESIGN PURPOSES */
    width: 100%;
  }
  
