body {
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

h1 {
  font-size: 20px;
  padding-bottom: 8px;
}

h2 {
  font-size: 18px;
  padding-bottom: 8px;
}

h3 {
  font-size: 16px;
  padding-bottom: 4px;
}

h4 {
  font-size: 14px;
  padding-bottom: 4px;
}

p {
  font-size: 12px;
  line-height: 16px;
}

.alert-area {
  color: #f00;
  font-weight: bold;
}